*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul{
  list-style: none;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.read-the-docs {
  color: #888;
}
.site_title{
  font-size: 36px;
  margin-bottom: 20px;
}
.commentform{
  display: flex;
  flex-direction: column;
  max-width: 600px;  
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid #a3a3a3;  
  margin-bottom: 30px;  
}
.commentform>div{
  display: flex;
}

.commentform .textWrap{
  width: 50%;
}

.commentform .textWrap label{
  display: block;
  margin: 10px;
}
.commentform label input[type="text"], .commentform label textarea{  
  line-height: 1.6rem;
  padding: 0.2rem 0.5rem;
  display: flex;  
  width: 100%;
  justify-content: flex-end;
}

.commentform button{
  margin: 20px;
  color: #fff;
  background-color: #356f80;
}

.imgUploadWrap{
  display: flex; 
  justify-content: center;  
  align-items: center;
  border-radius: 18px;
  margin: 20px;
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px dashed #c4c4c4;  
}

.custom-file-upload  h4{
  color: #bdbdbd;
  border: 5px solid #bdbdbd;
  border-radius: 40px;
  cursor: pointer;
  display: flex;   
  padding: 10px;
  line-height: 34px;  
  font-size: 36px;
}

.custom-file-upload input {
  display: none; /* 隱藏原始的文件上傳輸入元素 */
}



.cards{
  display: flex;
  flex-wrap: wrap;
}
.card{
  max-width: 300px;  
  margin: 10px;
}
.card img{ 
  width: 300px;
}

.filterBox,.navigation{
  display: flex;
 
}

.filterBox li{
  padding: 5px 12px;
  margin: 0px 5px;
  cursor: pointer;
}

.filterBox li.active{
  border: 2px solid #356f80;    
  color: #356f80;
  border-radius: 20px;
  font-weight: 600;
}

.filterBox li.active::before{
  content: '✓';
}

.navAndFilter{
  display: flex;
  justify-content: space-between;
}